@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать на борт!</h1>
    <h2>Вы столкнулись с проблемой, что ваши пираты не знают, что делать?</h2>
    <h2>Лишь один из десяти ваших подчинёных умеет считать или писать?</h2>
    <h2>Вы устали от этого?</h2>
    <h1>Выход есть!</h1>
</div>
